html, body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.reveal section img {
  border: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #FF7346;
}

.reveal pre code {
  max-height: 450px;
}

.reveal pre {
  width: 100%;
}

.reveal pre.sticky {
  margin: 0px auto;
}

body {
  background-color: #444;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.center {
  text-align: center
}

.reveal section img {
  box-shadow: none;
  background: none;
}

/* fix left arrow bug */
.reveal .controls .navigate-left {
  left: 0px;
}

p.me {
  margin-bottom: 0px;
}

p.me-link {
  font-size: 22px;
  margin: 0px;
}

.reveal blockquote {
  width: 100%;
}

table.table > tbody > tr > td {
  line-height: 30px;
}

.reveal .slides section .fragment.push {
  display: none;
  opacity: 0;
}

.reveal .slides section .fragment.push.current-fragment {
  display: inline;
  opacity: 1;
}

h2.top-1 {
  margin-top: 10%;
}

h2.top-2 {
  margin-top: 15%;
}

h2.top-3 {
  margin-top: 20%;
}

kbd {
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}

.red {
  color: red;
}
