<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Vue.js - Yet another JavaScript Framework</title>
<link rel="stylesheet" href="reveal.js/css/reveal.css">
<link rel="stylesheet" href="reveal.js/css/theme/black.css" id="theme">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/github.css">
<link rel="stylesheet" href="./css/todo-app-custom.css">
<script src="https://unpkg.com/vue"></script>
<!-- Printing and PDF exports -->
<script>
var link  = document.createElement( 'link' );
link.rel  = 'stylesheet';
link.type = 'text/css';
link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
  <section data-background-image="img/background.png">
    <h2>Vue.js - yet another JavaScript Framework</h2>
    <p class="me">Maxence POUTORD</p>
    <p class="me-link">
      <a href="https://twitter.com/_maxpou"><i class="fa fa-twitter"></i> @_maxpou</a> |
      <a href="http://www.maxpou.fr/"><i class="fa fa-globe"></i> maxpou.fr</a> |
      <a href="mailto:hello@maxpou.fr"><i class="fa fa-envelope-o"></i> hello@maxpou.fr</a>
    </p>
  </section>
  <section>
    <section>
      <h2>A brief history of JavaScript</h2>
      <img src="./img/timeline.png" class="fragment">
      <aside class="notes">
        created in 1997 - 20 years ago
        originaly created to handle click on page
      </aside>
    </section>
    <section data-background-image="img/nodejs.png">
      <aside class="notes">Node 2009</aside>
    </section>
    <section>
      <h2>A world of components</h2>
      <img src="./img/blog.png" class="fragment" style="width: 90%;">
      <aside class="notes">
        react 2011
        A component is a small, potentially re-usable set of logic, behaviors and interface elements (UI or API). And without components or component-based UI development, our applications become monolithic spaghetti monsters and nightmares.
      </aside>
    </section>
    <section>
      <h2>A world of components</h2>
      <img src="./img/blog-component-1.png" style="width: 90%;">
    </section>
    <section>
      <h2>A world of components</h2>
      <img src="./img/blog-component-2.png" style="width: 90%;">
    </section>
    <section>
      <h2>Today</h2>
      <img src="./img/module-count.png" style="width: 80%;">
      <aside class="notes">
        in june 2017: ~500k
        http://www.modulecounts.com/
        536 package a day
      </aside>
    </section>
  </section>
  <section>
    <section>
      <h2>Burning platform</h2>
      <ul>
        <li class="fragment">No dependency management</li>
        <li class="fragment">No tests</li>
        <li class="fragment">Overcomplicated features</li>
        <li class="fragment">jQuery everywhere</li>
      </ul>
      <img class="fragment" src="./img/wtf.gif">
      <p class="fragment">Our frontend deserves something better! <i class="fa fa-heart red"></i></p>
    </section>
    <section>
      <h2>Choosing a Framework in 2017</h2>
      <img src="./img/farwest.jpg" style="width: 70%;">
    </section>
    <section>
      <h2>Vue.js</h2>
      <img src="./img/logo.png">
    </section>
  </section>
  <section>
    <section>
      <h2>Why?</h2>
    </section>
    <section>
      <div id="slide-vue">

        <h2 v-if="print">
          {{ title }}
        </h2>
      </div>

      <pre class="fragment"><code data-trim>
<div id="app">
  <h2 v-if="print">
    {{ title }}
  </h2>
</div>
      </code></pre>
      <pre class="fragment"><code data-trim>
const slide = new Vue({
  el: '#app',
  data: {
    print: true,
    title: 'Ludicrously straightforward!'
  }
})
      </code></pre>
      <script>
const slide = new Vue({
  el: '#slide-vue',
  data: {
    print: true,
    title: 'Ludicrously straightforward!'
  }
})
      </script>
    </section>
    <section>
      <h2>Declarative</h2>
      <h4>Tell <u>WHAT</u> you render, instead of <u>HOW</u></h4>
    </section>
    <section style="top: 0px; display: block;">
      <h2>Vue.js + Devtools = <i class="fa fa-heart red"></i></h2>
      <div id="demo"></div>
    </section>
    <section>
      <h2>What else?</h2>
      <ul>
        <li>State management with Vuex</li>
        <li>Easy to test</li>
        <li>Live / Hot reload</li>
        <li>The rest of the JavaScript ecosystem</li>
      </ul>
    </section>
  </section>
  <section>
    <section>
      <h2>Perspectives</h2>
    </section>
    <section>
      <h2>#1 - Server side rendering</h2>
    </section>
    <section>
      <img src="img/csr.png" alt="client side rendering">
    </section>
    <section>
      <img src="img/ssr.png" alt="server side rendering">
    </section>
    <section>
      <h2>#2 - Desktop apps</h2>
      Shopify, Twich, Skype, MongoDB Compass, Postman, Atom, Visual Studio Code, Slack, 🍿 Popcorn times
      <aside class="notes">
        because now we can build real APP. Not only animating webpages
      </aside>
    </section>
    <section>
      <h2>#3 - Code once, run anywhere</h2>
    </section>
    <section>
      <h2>&nbsp;</h2>
      <img src="./img/mobile-1.png" style="width: 50%;">
    </section>
    <section>
      <h2 class="fragment">Code once run anywhere</h2>
      <img src="./img/mobile-3.png" style="width: 50%;">
    </section>
  </section>
  <section>
    <h2>tldl;</h2>
    <ul>
      <li class="fragment">JavaScript allow to create real FrontEnd apps</li>
      <li class="fragment">...and not only!</li>
      <li class="fragment">Vue.js will makes our life easier</li>
    </ul>
    <img src="./img/sheep-kid.gif" class="fragment" style="width: 50%;">
  </section>
  <section>
    <h2>Thank You.</h2>
    <h3>Questions?</h3>
    <p class="me-link">
      <a href="https://twitter.com/_maxpou"><i class="fa fa-twitter"></i> @_maxpou</a> -
      <a href="http://www.maxpou.fr/"><i class="fa fa-globe"></i> maxpou.fr</a>
    </p>
  </section>
  <section>
    <section>
      <h2>Backup slides</h2>
    </section>
    <section>
      <h2>Link</h2>
      <ul>
        <li><a href="https://medium.com/walmartlabs/the-benefits-of-server-side-rendering-over-client-side-rendering-5d07ff2cefe8">[Medium] CSR vs SSR at Wallmart</a></li>
        <li><a href="https://www.youtube.com/watch?v=8qCociUB6aQ">[Youtube] How Airbnb Is Using React Native</a></li>
        <li><a href="https://code.facebook.com/posts/895897210527114/dive-into-react-native-performance/">[code.facebook.com] Dive into React Native performance</a></li>
      </ul>
    </section>
    <section>
      <div style="width: 50%;margin: 0 auto;">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/NodeJS?src=hash&amp;ref_src=twsrc%5Etfw">#NodeJS</a> helps you succeed in the things that matter the most 🚀<br><br>⏰ 68% Increased Developer Productivity<br>🏆 65% Improved Developer Satisfaction<br>💰 58% Reduced Development Costs<br>🔝 50% Increased application performance  <br><br>*stats courtesy of <a href="https://twitter.com/nodejs?ref_src=twsrc%5Etfw">@nodejs</a> <a href="https://t.co/kGLV9wiFGy">pic.twitter.com/kGLV9wiFGy</a></p>&mdash; nearForm (@nearForm) <a href="https://twitter.com/nearForm/status/936538657984565248?ref_src=twsrc%5Etfw">December 1, 2017</a></blockquote>
      </div>
      <i>Source: <a href="https://foundation.nodejs.org/wp-content/uploads/sites/50/2017/11/Nodejs_2017_User_Survey_Exec_Sum.pdf">2017 Node.js User Survey</a></i>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
  </section>
</div>
</div>
<script src="reveal.js/lib/js/head.min.js"></script>
<script src="reveal.js/js/reveal.js"></script>
<script>
// Full list of configuration options available at:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
  controls: true,
  progress: false,
  slideNumber: true,
  history: true,
  center: true,
  width: 1000,
  height: 700,

  transition: 'fade', // none/fade/slide/convex/concave/zoom

// Optional reveal.js plugins
dependencies: [
  { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
  { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
  { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
  { src: 'reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
  { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true },
  { src: 'reveal.js/plugin/notes/notes.js', async: true }
]
});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67868977-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- demo VueJS -->
<script type=text/javascript src=./js/manifest.f807122b42582f0637f8.js></script>
<script type=text/javascript src=./js/vendor.b6cafaad789d78bbfb14.js></script>
<script type=text/javascript src=./js/app.bdbed4f2a09208e7aaec.js></script>
</body>
</html>
